{% load staticfiles %}
<div class="header">
	<div class="container-fluid">
    	<div class="row">
        	<div class="col-sm-3">
            	<!-- start logo -->
            	<div class="logo">
                	<a href="#"><strong>Simple</strong>Code</a>
                </div>
                <!-- end logo -->
            </div>
            <div class="col-sm-9">
            	<!-- start navigation -->
            	<div class="navigation">
                	<a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
                </div>
                <!-- end navigation -->
            </div>
        </div>
    </div>
</div>